/* Hồng Phượng */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600&family=Roboto:wght@700&display=swap" rel="stylesheet');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Roboto Slab', serif;
  background-color: #FFFFFF;
}
/* Trần Thảo 25/10 */
.wraper {
    max-width: 595px;
    margin: 30px auto;
    border-radius: 10px;
    border: 3px solid black;
    /* height: 570px; */
    background-color: white;
}
.addtask{
    display: flex;
    align-items: center;
    padding-left: 19px;
    padding-bottom: 15px;
    height: 70px;
    border-bottom: black solid 2px;
}
.addtask input{
    height: 42px;
    width: 492px;
    text-indent: 18px;
    border-color: blue;
    width: 492px;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #2501FF;
    border-radius: 5px;
}

.addtask img{
    height: 42px;
    width: 42px;
    margin-left: 15px;
    cursor: pointer;
}
.setting img {
    width: 16px;
    height: 16px;
}
.delete img{
    height: 16px;
    width: 16px;
}

#pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
  }

.prev:hover , .after:hover {
    font-size: larger;
    font-weight: 700;
}

#pagination{
    border-top: black solid 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameapp{
    font-family: 'Roboto';
    width: 50%;
    text-align: center;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    align-items: center;
    margin:auto;
    padding-top: 22px;
    padding-bottom: 44px;
}
/* Trần Thảo 10/3 */
button{
    border: none;
}
.setting{
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.delete{
    width: 16px;
    cursor: pointer;
}
#tasklist{
    height: 335px;
}
#taskcontainer{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding: 7px 0;
    width: 95%;
    border-bottom: black solid 2px;
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
#value{
    margin-left: 20px;
}
.icons{
    margin-right: 20px;
}
.done{
    display: inline-flex;
}
.tick {
    width: 20px;
    height: 20px;
    margin-right: 14.55px;
    cursor: pointer;
    visibility: visible;
}
.tick.taskFinished{
    visibility: hidden;
}
.value.taskFinished{
    color: rgba(37, 1, 255, 1);
}

.nums{
    margin-right: 5px;
}
.pageNumber{
    margin: 0 5px;
    cursor: pointer;
}
.nums :hover{
    font-size: larger;
    font-weight: 700;
}
